table{
    margin-left: 25%;
    border:1px solid goldenrod;
    width:50%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}

td{
    
    border: 1px solid gold;
    text-align:center;
    padding: 15px;
    
}
th{
    background:darkblue;
    color:white;
    padding:15px;
}

#del{
    border-radius:50px;
    background-color: rgb(235, 117, 117);
    height:30px;  
}
#add{
    /* background-color: green; */
    border-radius:50px;
}
#upd{
    background-color: lightyellow;
    border-radius:50px;
    margin-left: 10px;
    height:30px;  
}